<!-- Footer -->
<footer class="text-center text-white pt-4">
    <div class="container bg-primary">
  <!-- Grid container -->
    <!-- <div class="container p-4 pb-0">
        Section: Social media
        <section class="mb-4">
            Facebook
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>

            Twitter
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>

            Google
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-google"></i></a>

            Instagram
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>

            Linkedin
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin-in"></i></a>

            Github
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/gupta197" role="button"><i class="bi bi-github"></i></a>
        </section>
        Section: Social media
    </div> -->
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" >
        © 2024 Copyright:
        <a class="text-white" href="/">Blog.com</a>
    </div>
    <!-- Copyright -->
    </div>
  
</footer>
<!-- Footer -->